<h1>Greetings, <span class="username"><%= @user %></span></h1>

<div class="container-fluid">
  <p>
    The big red button below may help you if:
  </p>
  <ul>
    <li>You're getting error messages from Audience1st  no matter which screen you try to access or
      which customer you try to view</li>
    <li>Audience1st is really slow (while other websites seem to be normal)</li>
  </ul>
  <p>
    If the problem can be reliably reproduced or is limited to a particular customer or screen, 
      please <a href="mailto:help@audience1st.com">email the
      helpline</a> as the big red button may not help.
</div>

<h1>So you need to reboot...</h1>
<div class="container-fluid">
  <p>
    If, after reading the above, you want to restart Audience1st,
    click the Big Red Button below.  </p>
  If you don't want to do that,
    just close this browser window and nothing will change.
  </p>
  <p class="warning">
  </p>
  <form id="reboot" action="/reboot" method="post">
    <button type="submit" class="btn btn-danger">Restart Audience1st</button>
  </form>
  <script type="text/javascript">
    $(function() {
      $('#reboot').submit(function() {
        return(confirm("After a successful restart, it may take up to
        30 seconds before Audience1st is responsive again, so don't panic.  OK to attempt restart?"));
        });
    });
  </script>
</div>
