<% if @e.nil? %>
<h1>Success</h1>
<p class="lead">
  Server "<%= @server.name %>" restarting.
  <br/>
  Wait about 3 minutes, then try Audience1st again.
</p> 
<% else %>
<h1>D'oh, it didn't work</h1>
<p class="lead danger text-danger">
  Server could not be restarted:
  <br>
  <%= @e.message %>
</p>
<p class="danger text-danger">
  The Big Red Button wasn't able to communicate with the 
  server to restart it.  Wait a few minutes and try again, but if it
  doesn't work after three attempts, contact Armando.
</p>
<a class="btn btn-warn" href="/">Try Again</a>
<% end %>
