<% if @e.nil? %>
<h1>Success</h1>
<p class="lead">
  Audience1st restarting.
  <br/>
  Wait about 30 seconds, then try Audience1st again.
</p> 
<% else %>
<h1>D'oh, it didn't work</h1>
<p class="lead danger text-danger">
  Server could not be restarted:
  <br>
  <%= @e.message %>
</p>
<p class="danger text-danger">
  The Big Red Button wasn't able to communicate with the 
  server to restart it.  Wait a few minutes and try again, but if it
  doesn't work after three attempts, contact the 
  <a href="mailto:help@audience1st.com">helpline</a>.
</p>
<a class="btn btn-default btn-primary" href="/">Try Again</a>
<% end %>
